<h4>Categorias:</h4>
<hr>
{{#each categorias}}
<ul>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/categorias/{{slug}}">
            <h5>{{nome}}</h5>
        </a>
        <br>
        <div class="bagde badge-primary badge-pill">adicionar o numero de postagens de cada categoria</div>

    </li>
</a>
</ul>
{{else}}
{{/each}}